modules = ["web", "nodejs-20"]
entrypoint = "./SiteGames/LoginPage/index.html"
run = "npm install -g http-server && cd ./SiteGames/ && http-server && http://localhost:8080/index.html"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "index.html"]

[[ports]]
localPort = 8080
externalPort = 80
