* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
}

nav,
.input-group-text {
    background-color: #993399 !important;
}

nav img {
    max-height: 60px;
    width: auto;
    height: auto;
}

#sairDiv {
    width: clamp(150px, 15%, 230px)
}
#sair-Button {
    height: 50%;
    width: clamp(40px, 100%, 90px)
}

img {
    max-height: 250px;
}

@media (min-width: 1200px) {
    img {
        max-height: 500px;
    }
}

#custom-hr {
    width: 70%;
    border: none !important;
    background-color: rgb(255, 255, 255) !important;
    opacity: .5 !important;
    height: 2px !important;
}